#progress {
    display: none;
  }
  .progress {
    height: 20px;
    margin: 20px 0;
  }
  
  .progress .progress-bar {
    height: 100%;
    transition: width 0.5s ease;
  }
  
  .progress .part1 {
    background-color: blue;
  }
  
  .progress .part2 {
    background-color: green;
  }
  
  .progress .progress-bar.part1 {
    width: 50%; /* start with 50% */
  }
  
  .progress .progress-bar.part2 {
    width: 0%;
  }